  $color: #de00fe;
  $color2: #6a00ff;
  $linkcolor: #ff00ff;
  $bgcolor: rgba(42, 2, 42, 0.9);
  $bgcolor2: rgba(42, 2, 42, 0.7);
  $bgcolor3: rgba(230, 4, 164, 1);

.drop-box {
  background: $bgcolor2;
  border: 5px dashed #DDD;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.drop-box.dragover {
  border: 5px dashed $linkcolor;
}

.drop-box.dragover-err {
  border: 5px dashed $linkcolor;
}

.productbox {
  background-color:$bgcolor2;
  padding:10px;
  margin-bottom:10px;
  box-shadow: 0 8px 6px -6px $bgcolor3;
}

.thumbnail {
  color:$color;
  background-color:$bgcolor2;
}

.producttitle {
  font-weight:bold;
  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid $color;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}

@media (min-width: 992px) {
  .productdescription {
    height: 315px;
    overflow: scroll;
  }

  .thumbnail img{
    height: 240px;
  }
}
.productdescription {
  height: 315px;
  overflow: auto;
}
